{% extends 'base.html' %} <!-- base.html의 내용을 가져오겠다. -->
{% load staticfiles %}
{% block content %}
{% load thumbnail %}
<section id="galleries">	<!-- Photo Galleries -->
	<div class="gallery center">
		<div class="content">
			<div class = "card" style="margin:auto">
				<button class="btn btn-link" type="button" onclick="location.href='{% url 'main:profile' post.user.id %}' ">{{post.user.username}}</button>
				<button class="btn btn-post-toggle btn-link" aria-label="Like button" onclick="location.href='{% url 'main:like_toggle' post.id %}'" style="margin:auto; text-align: center">
		  		<span
			 	 class="glyphicon
			    	{% if post in user.like.all %}
			      	glyphicon-heart
					{% else %}
					glyphicon-heart-empty
					{% endif %}"
			 	 aria-hidden="true"></span>
				</button>
			</div>
		</div>
		<div class="content">
			<div class = "card" style="margin:auto">

				<a href="{{post.image.url}}"><img src="{% thumbnail post.image 450x450 box=post.cropping crop detail %}" alt="" title="{{post.content}} #{{post.user.first_name}}" /></a>

				<p>{{post.content | linebreaks}}</p>

			</div>
		</div>
	</div>
</section>

{% endblock %}  